__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

venv/
.venv/
env/

# don't commit secrets
.env

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

alembic/versions/__pycache__/

*.log
